.about-container {
  max-width: 1100px !important;
  //background-color: rgba(240, 248, 255, 0.276);

  header {
    @include main_Titles();
  }

  .about-main {
    //background-color: rgba(245, 245, 220, 0.155);
    color: $sub_grey;
    @include main_Style;

    margin: 50px auto;
    transition: 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;

    @media only screen and (min-width: $phone) {
      flex-direction: row;
      align-items: flex-start;
    }

    &__details {
      //background-color: rgba(0, 255, 255, 0.167);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      max-width: 100%;

      @media only screen and (min-width: $phone) {
        max-width: 60%;
      }
    }

    &__picture {
      height: auto;
      max-width: 300px;

      @media only screen and (min-width: $phone) {
        max-width: 30%;
        height: 100%;
      }
    }
  }
}

// light theme
.about-container_light {
  header {
    @include main_Titles_light();
  }
  .about-main {
    color: $sub_grey_light;
  }
}
