.Navbar {
  color: $mainGrey;
  box-shadow: rgba(2, 1, 6, 0.256) 0px 20px 30px -10px;
  background-color: $navBar_background;
  backdrop-filter: blur(10px);

  width: 100%;
  height: 85px;
  padding: 0 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;

  z-index: 20;
  position: fixed;
  top: 0;

  @media only screen and (min-width: $phone) {
    padding: 0 45px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 0.3s ease;

    .logo {
      cursor: pointer;
      width: 38px;
      height: 38px;
      padding: 18px;

      border: 2px solid $mainGreen;
      border-radius: 5px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;

      transition: 0.3s ease;
      opacity: 0.85;

      span {
        font-family: "Space Mono", monospace;
        font-size: 13px;
      }

      span:nth-child(2) {
        font-weight: 700;
      }

      &:hover {
        background-color: $green_overlay;
      }
    }

    .switch-theme {
      cursor: pointer;
      width: 50px;
      height: 50px;
      transition: 0.4s ease-out;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &__menu {
    .menu-hamburger {
      z-index: 20;
      font-size: 20px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 35px;
      transform: translateY(-50%);

      @media only screen and (min-width: $phone) {
        display: none;
      }

      .slice {
        display: block;
        height: 2px;
        width: 35px;
        background: $brightGreen;
        margin: 8px auto;
        margin-right: 0;
        transition: all 0.7s ease;
      }

      div:nth-child(2) {
        width: 30px;
      }

      div:nth-child(3) {
        width: 25px;
      }

      &:hover {
        div:nth-child(2),
        div:nth-child(3) {
          width: 35px;
        }
      }

      .top {
        transform: translateY(10px) rotateZ(405deg);
        background-color: $pinkish_Hamburger;
        width: 35px !important;
      }

      .bottom {
        transform: translateY(-10px) rotateZ(-405deg);
        background-color: $pinkish_Hamburger;
        width: 35px !important;
      }

      .middle {
        width: 0 !important;
      }
    }

    .menu-container {
      //transition: 0.4s ease-in-out;
      background-color: $lighter_Blue;
      height: 100vh;
      min-width: 70vw;
      position: absolute;
      top: 0;
      right: -1000px;
      font-size: 19px;
      font-family: "Space Mono", monospace;
      letter-spacing: 1px;

      @media only screen and (min-width: $phone) {
        background-color: transparent;
        position: relative;
        min-width: 100%;
        height: 100%;
        right: 0;
        font-size: 13px;
      }

      .list-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 20vh;

        @media only screen and (min-width: $phone) {
          flex-direction: row;
          margin-top: 0;
        }

        .menu-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2px;
          letter-spacing: 1px;

          cursor: pointer;
          transition: 0.3s ease-out;

          &:hover {
            color: $mainGreen;
          }

          @media only screen and (min-width: $phone) {
            flex-direction: row;
          }

          &__numeral {
            color: $mainGreen;
            font-weight: 100;
            font-size: 15px;
          }

          .showMenuItem {
            color: $mainGreen !important;
          }
        }

        .resume {
          @include button_Type1(12px 30px, 16px);
          margin-top: 30px;

          @media only screen and (min-width: $phone) {
            margin-top: 0;
            font-size: 13px;
            padding: 8px 18px;
          }

          a {
            color: $mainGreen;
          }
        }
      }
    }
  }

  .show-menu {
    right: 0px;
    transition: 0.4s ease-in-out;
  }
}

.hide-Navbar {
  top: -120px;
}

//darken the body when menu is open on small screens
.layer-dim {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  left: 0;
  top: 0;
  z-index: 10;
}

// light theme
.Navbar_light {
  color: $mainGrey_light;
  box-shadow: rgba(107, 107, 107, 0.256) 0px 20px 30px -10px;
  background-color: $navBar_background_light;

  .Navbar__left {
    .logo {
      border: 2px solid $mainGreen_light;

      &:hover {
        //border: 2px solid $mainGrey_light;
        background-color: $green_overlay_light;
      }
    }
  }

  .Navbar__menu {
    .menu-hamburger {
      .slice {
        background: $brightGreen_light;
      }

      .top {
        background-color: $pinkish_Hamburger_light;
      }

      .bottom {
        background-color: $pinkish_Hamburger_light;
      }
    }

    .menu-container {
      background-color: $lighter_Blue_light;

      @media only screen and (min-width: $phone) {
        background-color: transparent;
      }

      .list-items {
        .menu-item {
          &:hover {
            color: $mainGreen_light;
          }

          &__numeral {
            color: $mainGreen_light;
          }

          .showMenuItem {
            color: $mainGreen_light !important;
          }
        }

        .resume {
          @include button_light();
          a {
            color: $mainGreen_light;
          }
        }
      }
    }
  }
}
