.Navbar {
  color: $mainGrey;
  box-shadow: rgba(17, 12, 46, 0.213) 0px 48px 100px 0px;
  background-color: #0b1a2ec4;
  //background-color: #6fffe940;
  backdrop-filter: blur(10px);

  width: 100%;
  height: 100px;
  padding: 0 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;

  z-index: 20;
  position: fixed;
  top: 0;

  @media only screen and (min-width: $phone) {
    padding: 0 45px;
  }

  &__logo {
    cursor: pointer;
    .logo {
      height: 100%;
      width: 45px;
    }
  }

  &__menu {
    .menu-hamburger {
      z-index: 20;
      font-size: 20px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 35px;
      transform: translateY(-50%);

      @media only screen and (min-width: $phone) {
        display: none;
      }

      .slice {
        display: block;
        height: 2px;
        width: 35px;
        background: #6fffe9;
        margin: 8px auto;
        margin-right: 0;
        transition: all 0.7s ease;
      }

      div:nth-child(2) {
        width: 30px;
      }

      div:nth-child(3) {
        width: 25px;
      }

      &:hover {
        div:nth-child(2),
        div:nth-child(3) {
          width: 35px;
        }
      }

      .top {
        transform: translateY(10px) rotateZ(405deg);
        background-color: #f92c8c;
        width: 35px !important;
      }

      .bottom {
        transform: translateY(-10px) rotateZ(-405deg);
        background-color: #f92c8c;
        width: 35px !important;
      }

      .middle {
        width: 0 !important;
      }
    }

    .menu-container {
      //transition: 0.4s ease-in-out;
      background-color: rgb(17, 35, 64);
      height: 100vh;
      min-width: 70vw;
      position: absolute;
      top: 0;
      right: -1000px;
      font-size: 19px;
      font-family: "Space Mono", monospace;
      letter-spacing: 1px;

      @media only screen and (min-width: $phone) {
        background-color: $mainBackGround;
        position: relative;
        min-width: 100%;
        height: 100%;
        right: 0;
        font-size: 13px;
      }

      .list-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 20vh;

        @media only screen and (min-width: $phone) {
          flex-direction: row;
          margin-top: 0;
        }

        .menu-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2px;
          letter-spacing: 1px;

          cursor: pointer;
          transition: 0.3s ease-out;

          &:hover {
            color: $mainGreen;
          }

          @media only screen and (min-width: $phone) {
            flex-direction: row;
          }

          &__numeral {
            color: $mainGreen;
            font-weight: 100;
            font-size: 15px;
          }
        }

        .resume {
          @include button_Type1(12px 30px, 16px);
          margin-top: 30px;

          @media only screen and (min-width: $phone) {
            margin-top: 0;
            font-size: 13px;
            padding: 8px 18px;
          }
        }
      }
    }
  }

  .show-menu {
    right: 0px;
    transition: 0.4s ease-in-out;
  }
}

.hide-Navbar {
  top: -120px;
}

//darken the body when menu is open on small screens
.layer-dim {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  left: 0;
  top: 0;
  z-index: 10;
}
