.skills-container {
  header {
    @include main_Titles();
  }

  .skills-main {
    color: $sub_grey;
    @include main_Style;

    margin: 50px auto;
    transition: 0.3s ease;

    .skills-list {
      margin-top: 50px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      gap: 55px 35px;

      transition: 0.3s ease;

      @media only screen and (min-width: $phone) {
        padding: 0 40px;
        gap: 55px 65px;
      }

      li {
        //background-color: rgba(0, 255, 255, 0.221);
        width: 130px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;

        color: $mid_grey;
        text-align: center;
        font-size: 14px;
        letter-spacing: 0.8px;
        font-family: sans-serif;

        @media only screen and (min-width: $phone) {
          font-size: 15px;
          width: 135px;
        }

        img {
          width: 60px;
          height: 60px;
          opacity: 1;
          transition: 0.3s ease;
        }
      }
    }
  }
}

// light theme
.skills-container_light {
  header {
    @include main_Titles_light();
  }

  .skills-main {
    color: $sub_grey_light;

    .skills-list {
      li {
        color: $mainGrey_light;
        //font-weight: 400;
      }
    }
  }
}
