.work-container {
  header {
    @include main_Titles();
  }

  .work-main {
    color: $sub_grey;
    @include main_Style;

    margin: 80px auto;
    transition: 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      padding: 30px 20px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
      background-color: $lighter_Blue;
      border-radius: 5px;
      transition: 0.4s ease-out;

      &:hover {
        //transform: scale(1.01);
        //border: 0.5px solid $mainGreen;
      }

      @media only screen and (min-width: $phone) {
        flex-direction: row;
        justify-content: space-between;
      }

      &--image {
        height: auto;
        max-width: 380px;
        opacity: 0.8;
        box-shadow: rgba(23, 8, 49, 0.2) 0px 3px 8px;
        border-radius: 3px;

        @media only screen and (min-width: $phone_Small) {
          max-width: 450px;
        }

        @media only screen and (min-width: $phone) {
          max-width: 50%;
          height: 100%;
        }
      }

      &--details {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 450px;

        @media only screen and (min-width: $phone) {
          max-width: 100%;
        }

        .item-title {
          display: flex;
          flex-direction: column;
          gap: 5px;
          color: $mainGrey;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 0.5px;

          .featured {
            font-family: "Space Mono", monospace;
            color: $mainGreen;
            opacity: 0.9;
            font-size: 14px;
            font-weight: 100;
          }
        }

        .item-desc {
          // background-color: $lighter_Blue;
          // box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
          border-radius: 4px;
          //padding: 15px 25px;
          line-height: 22px;
          font-size: 14px;
          letter-spacing: 0.5px;
          color: $mainGrey;
        }

        .item-tech {
          //tech
        }

        .item-links {
          //links
        }
      }
    }

    .work-divider {
      height: 1px;
      width: 50%;
      background-color: $sub_grey;
      opacity: 0.7;
    }
  }
}
