.work-container {
  header {
    @include main_Titles();
  }

  .work-main {
    @include main_Style;

    color: $sub_grey;
    margin: 80px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 140px;

    transition: 0.3s ease;
    //background-color: rgba(250, 235, 215, 0.261);

    // @media only screen and (min-width: $phone) {
    //   min-width: 690px !important;
    // }

    &__item {
      position: relative;
      transition: 0.3s ease-out;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      padding-bottom: 8px;
      box-shadow: 0 7px 4px rgba(0, 0, 0, 0.2);
      // 0px 12px 10px -15px
      // background-color: rgba(255, 228, 196, 0.23);

      @media only screen and (min-width: $phone) {
        box-shadow: none;
        flex-direction: row;
        justify-content: space-between;
      }

      &--image {
        position: relative;
        flex: 1;
        min-width: 300px;

        display: grid;
        place-items: center;

        box-shadow: rgba(23, 8, 49, 0.2) 0px 3px 8px;
        border-radius: 3px;
        opacity: 0.6;
        cursor: pointer;

        z-index: 5;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: 0.3s ease-in;
          z-index: 10;

          @media only screen and (min-width: $phone) {
            background-color: $green_overlay;
          }
        }

        &:hover::after {
          opacity: 0;
        }

        &:hover {
          opacity: 0.85;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      &--details {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        transition: 0.3s ease-out;
        gap: 20px;

        @media only screen and (min-width: $phone) {
          position: relative;
          text-align: right;
          align-items: flex-end;
          margin-left: -100px;
        }

        .item-title {
          display: flex;
          flex-direction: column;
          gap: 5px;

          color: $mainGrey;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 0.5px;

          .featured {
            font-family: "Space Mono", monospace;
            color: $mainGreen;
            opacity: 0.9;
            font-size: 14px;
            font-weight: 100;
          }
        }

        .item-desc {
          line-height: 24px;
          font-size: 14px;
          letter-spacing: 0.5px;
          color: $sub_grey;
          padding: 8px 12px;
          //border: 1px solid rgba(100, 255, 219, 0.3);
          border-radius: 3px;
          box-shadow: rgba(7, 113, 71, 0.3) 2px 2px 1px,
            rgba(0, 0, 0, 0.2) 0px 2px 6px;

          @media only screen and (min-width: $phone) {
            background-color: $lighter_Blue;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
            border: none;
            border-radius: 4px;
            padding: 15px 20px;
            z-index: 10;
            font-size: 15px;
          }
        }

        .item-tech {
          z-index: 5;

          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 5px 15px;

          @media only screen and (min-width: $phone) {
            justify-content: flex-end;
            width: 80%;
          }

          .tech-detail {
            font-size: 15px;
            font-family: "Space Mono", monospace;
          }
        }

        .tech-left {
          justify-content: flex-start;
        }

        .item-links {
          z-index: 5;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 20px;
          //background-color: rgba(240, 248, 255, 0.26);

          a {
            cursor: pointer;
            display: grid;
            place-items: center;

            color: $sub_grey;
            font-family: sans-serif;
            transition: 0.3s ease;

            &:hover {
              color: $mainGreen;
            }

            svg {
              width: 30px;
              filter: drop-shadow(1px 1px 1px rgba(168, 167, 167, 0.3));

              &:hover path {
                transition: 0.3s ease;
                fill: $mainGreen;
                filter: drop-shadow(1px 1px 1px rgba(0, 136, 50, 0.3));
              }
            }
          }

          .view-live {
            @include button_Type1(5px 12px, 13px);
          }
        }
      }

      .detail-left {
        @media only screen and (min-width: $phone) {
          align-items: flex-start;
          text-align: left;

          margin-left: 0;
          margin-right: -100px;
        }
      }
    }

    .item-left {
      @media only screen and (min-width: $phone) {
        flex-direction: row-reverse;
      }
    }
  }

  &__extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &--title {
      font-family: sans-serif;
      color: $mainGrey;
      font-size: 19px;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
}

// light theme
.work-container_light {
  header {
    @include main_Titles_light();
  }

  .work-main {
    color: $sub_grey_light;

    &__item {
      box-shadow: 0px 12px 10px -15px rgb(17, 17, 17);

      @media only screen and (min-width: $phone) {
        box-shadow: none;
      }

      &--image {
        box-shadow: rgba(23, 8, 49, 0.2) 0px 3px 8px;

        &::after {
          @media only screen and (min-width: $phone) {
            background-color: $green_overlay_light;
          }
        }
      }

      &--details {
        .item-title {
          color: $mainGrey_light;

          .featured {
            color: $mainGreen_light;
          }
        }

        .item-desc {
          color: $sub_grey_light;
          box-shadow: rgba(65, 7, 113, 0.3) 2px 2px 1px,
            rgba(0, 0, 0, 0.2) 0px 2px 6px;

          @media only screen and (min-width: $phone) {
            background-color: $lighter_Blue_light;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
          }
        }

        .item-links {
          a {
            color: $sub_grey_light;

            &:hover {
              color: $mainGreen_light;
            }

            svg {
              filter: invert(72%) sepia(13%) saturate(3758%) hue-rotate(184deg)
                brightness(96%) contrast(67%);
              // drop-shadow(1px 1px 1px rgba(19, 16, 74, 0.2));

              &:hover {
                filter: invert(29%) sepia(99%) saturate(8253%)
                  hue-rotate(265deg) brightness(62%) contrast(164%);
                // drop-shadow(1px 1px 1px rgba(90, 8, 122, 0.3));
              }
            }
          }

          .view-live {
            @include button_light();
          }
        }
      }
    }
  }

  .work-container__extra {
    .work-container__extra--title {
      color: $mainGrey_light;
    }
  }
}
