//----- SCREEN SIZES ----
$tablet: 1080px;
$phone: 780px;
$phone_Small: 480px;

//----- DARK THEME ------
$mainGreen: rgb(102, 255, 219);
$greenishBackground: rgba(100, 255, 219, 0.1);
$brightGreen: rgb(112, 255, 234);

$green_overlay: rgba(100, 255, 219, 0.4);

$pinkish_Hamburger: rgb(249, 44, 140);

$mainBackGround: rgb(11, 26, 46);
$lighter_Blue: rgb(17, 35, 64);

$mainGrey: rgb(205, 214, 245);
$mid_grey: rgb(170, 178, 207);
$sub_grey: rgb(137, 146, 175);

$navBar_background: rgba(11, 26, 46, 0.77);

//----- LIGHT THEME -----
$mainGreen_light: rgb(127, 0, 223);
$greenishBackground_light: rgba(169, 221, 236, 0.2);
$brightGreen_light: rgb(117, 1, 206);

$green_overlay_light: rgba(138, 204, 214, 0.4);

$pinkish_Hamburger_light: rgb(108, 175, 185);

$mainBackGround_light: rgb(235, 241, 245);
$lighter_Blue_light: rgb(238, 243, 243);

$mainGrey_light: rgb(15, 27, 97);
$mid_grey_light: rgb(45, 55, 115);
$sub_grey_light: rgb(15, 27, 97);

$navBar_background_light: rgba(244, 249, 252, 0.77);

//----- RESET -----
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  color: $mainGrey;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $mainBackGround;
}

// App
.App {
  overflow: hidden;
  background-color: $mainBackGround;

  // Main
  .Main {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 155px 25px 25px 25px;
    position: relative;

    @media only screen and (min-width: $phone) {
      padding: 155px 80px;
    }

    @media only screen and (min-width: $tablet) {
      padding: 155px 180px;
    }

    // Section
    section {
      margin: 100px auto;
      padding: 20px 15px;
      max-width: 11000px;

      @media only screen and (min-width: $phone) {
        margin: 100px auto;
        padding: 30px 0;
      }

      @media only screen and (min-width: $tablet) {
        margin: 140px auto;
        padding: 50px 0;
      }
    }
  }
}

.light_background {
  background-color: $mainBackGround_light;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ----- MIXIN -----
@mixin button_Type1($padding, $fontSize) {
  color: $mainGreen;
  border: 1px solid $mainGreen;
  border-radius: 3px;
  padding: $padding;
  font-size: $fontSize;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s ease-out;
  opacity: 0.85;
  letter-spacing: 1px;

  &:hover {
    background-color: $greenishBackground;
  }
}

@mixin button_light() {
  color: $mainGreen_light;
  border: 1px solid $mainGreen_light;

  &:hover {
    background-color: $greenishBackground_light;
  }
}

@mixin main_Titles() {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  transition: 0.4s ease;

  .numeral {
    color: $mainGreen;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    transition: 0.4s ease;

    @media only screen and (min-width: $phone) {
      font-size: 18px;
    }

    @media only screen and (min-width: $tablet) {
      font-size: 20px;
    }
  }

  .menu-name {
    color: $mainGrey;
    font-size: 22px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: 600;

    @media only screen and (min-width: $phone) {
      font-size: 24px;
    }

    @media only screen and (min-width: $tablet) {
      font-size: 26px;
    }
  }

  .line-through {
    background-color: $sub_grey;
    opacity: 0.5;
    height: 1px;
    flex: 1;
    padding: 0 10px;
    transition: 0.4s ease;

    @media only screen and (min-width: $phone) {
      max-width: 300px;
    }

    @media only screen and (min-width: $tablet) {
      max-width: 400px;
    }
  }
}

@mixin main_Titles_light() {
  .numeral {
    color: $mainGreen_light;
  }

  .menu-name {
    color: $mainGrey_light;
  }

  .line-through {
    background-color: $mainGreen_light;
  }
}

@mixin main_Style() {
  //margin-top: 25px;
  line-height: 28px;
  font-size: 17px;
  font-family: sans-serif;
}
